@import './reset.scss';
@import './mixin.scss';
@import './transition.scss';
@import './home.scss';
@import './flapCard.scss';

.icon {
  font-size: px2rem(16);
  color: #666;
}
.title {
  font-size: px2rem(16);
  color: #666;
  font-weight: bold;
}